{% extends 'base.html' %}

{% block title %}{{ category_name }} - Medicines{% endblock %}

{% block content %}
<div class="container my-4">
    <div class="row row-cols-2 row-cols-md-6 g-3">
        {% if medicines %}
            {% for medicine in medicines %}
                <div class="col">
                    <div class="card h-100">
                        {% if medicine.picture %}
                            <img src="{{ medicine.picture.url }}" class="card-img-top" alt="{{ medicine.name }}">
                        {% else %}
                            <img src="https://via.placeholder.com/200" class="card-img-top" alt="{{ medicine.name }}">
                        {% endif %}
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title text-truncate">{{ medicine.name }}</h5>
                            <p class="card-text mb-1">Price: ${{ medicine.price }}</p>
                            <div class="mt-auto">
                                <a href="{% url 'medicine_detail' medicine.id %}" class="btn btn-info btn w-100 mb-2">Description</a>
                                {% if user.is_authenticated %}
                                <a href="{% url 'add_to_cart' medicine.id %}" class="btn btn-primary w-100">Add to Cart</a>
                                {% else %}
                                <a href="{% url 'login' %}" class="btn btn-primary w-100">login to Add to Cart</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p class="text-center">No products found in "{{ category_name }}".</p>
        {% endif %}
    </div>
</div>
{% endblock %}
